# VS Code
.vscode

# Python
__pycache__/
*.pyc
.venv/
venv/

# Local data (station cache DB, etc.)
data/
*.sqlite

# Env / secrets
.env
backend/config.toml

# Local notes
efa_api_documentation.txt

## ESP-IDF
build/
managed_components/
sdkconfig
sdkconfig.old
.cache